<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Seans використовує Face ID для захисту вашого особистого щоденника.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Seans потребує доступ до мікрофона для запису голосових повідомлень у щоденнику.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Seans хоче додавати ваші сеанси терапії до Apple Calendar для зручного нагадування.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.IliasMirzoiev.Seans</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.32187929458-72484opbpch99uj03qn5m4mq80omj5er</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>Payment Callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>seans</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
